{% extends 'base.html' %}
{% block content %}
<div class="card shadow mx-auto mt-5" style="max-width: 400px;">
    <div class="card-header bg-danger text-white text-center">Reset Password</div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label>New Password</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <div class="mb-3">
                <label>Confirm Password</label>
                <input type="password" name="confirm_password" class="form-control" required>
            </div>
            <button class="btn btn-danger w-100">Reset Password</button>
        </form>
    </div>
</div>
{% endblock %}