{% extends 'base.html' %}
{% block content %}
<div class="card shadow mx-auto mt-5" style="max-width: 400px;">
    <div class="card-header bg-danger text-white text-center">Verify OTP</div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label>Enter OTP</label>
                <input type="text" name="otp" class="form-control" required>
            </div>
            <button class="btn btn-danger w-100">Verify OTP</button>
        </form>
    </div>
</div>
{% endblock %}